[#]*
*~

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
*.pidb
*.csproj
*.unityproj
*.booproj
*.svd
*.user
*.userprefs
*.suo
*.sln
*.apk
/LocalCache

# Mac
__MACOSX
.DS_Store
Assets/BuildReport
BuildReport.meta
iOS_Xcode6
Assets/Editor/TapjoyXcodeUpdatePostBuild.log

# UnityVS
/UnityVS.*
/Assets/UnityVS.meta
/Assets/UnityVS
*.DotSettings

/Doc
