# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
*.pidb
*.csproj
*.unityproj
*.booproj
*.svd
*.user
*.userprefs
*.suo
*.sln
/LocalCache
/doc

# Mac
__MACOSX
*.DS_Store
iOS_Xcode
Assets/StreamingAssets/config.txt
Assets/StreamingAssets/config.txt.meta
Assets/MyAssets/Resources/Misc/config_development.txt
Assets/MyAssets/Resources/Misc/config_development.txt.meta
Assets/Resources/lua/*_ignored.lua.txt
Assets/Resources/lua/*_ignored.lua.txt.meta
Assets/BuildReport
BuildReport.meta
iOS_Xcode6
/Heapshots/*
/*.apk
/Assets/SSMaker
/Assets/SSMaker.meta
/Assets/Editor/TapjoyXcodeUpdatePostBuild.log

# UnityVS
/UnityVS.*
/Assets/UnityVS.meta
/Assets/UnityVS
*.DotSettings

[#]*
workspace/FriendGachaClient/Assets/Resources/Misc/config_development.txt
workspace/FriendGachaClient/Assets/Resources/Misc/config_development.txt.meta
iOS_Xcode63
TapjoyXcodeUpdatePostBuild.log
cache
/docs
/*.png
Assets/ConsolePro
ConsolePro.meta
/BuildAssetBundles
/Assets/AssetBundles/Old
Old-AssetBundles
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
NewAssetBundles
NewAssetTextures
iOS_Xcode7
/client/AssetBundles

#3DS Build
/*.cci
/*.cci.xml
/*.log
/*.log.txt
/*.cia
